body{
   padding:0 !important;
   margin:0 !important;
    background: ghostwhite;
    font-family: 'roboto';

}


.header{
    background: black;
    box-shadow: 0px 2px 2px grey;
   
    
   
}
.header a{
    background: black;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.fa-whatsapp{
      color: lightgreen;
      font-size: 1.5em !important;

  }

  .whatsapp{
    color: lightgreen;
    font-size: 1.5em !important;

  animation: blinker 2s linear infinite;
  }

  .instagram{
    color: purple;
    font-size: 1.5em !important;
    animation: blinker 2s linear infinite;

  }
  
  .fa-instagram{
    color: purple;
    font-size: 1.5em !important;

}

.fa-facebook{
    color: blue;
    font-size: 1.5em !important;

}
.fa-twitter{
    color:#0088cc;
    font-size: 1.5em !important;

}

.fa-telegram{
    color:#0088cc;
    font-size: 1.5em !important;

}

.telegram{
    color:#0088cc;
    font-size: 1.5em !important;

  animation: blinker 2s linear infinite;
}

.footer i{
       letter-spacing: 1em;
}
.footer p{
    color:orangered;
}
.footer a{
    text-decoration: none;
}
   
  @keyframes blinker{
  50%{
    opacity: 0;
    
  }
  }
 

.fa-icon{
    color:white !important;
}
.current{
      background: orangered;
      padding:19px;
      width:140px;
      box-shadow: 0px 2px 2px grey;
      position: absolute;
      z-index: 1;
      top:6.4em;
     color:ghostwhite;
      
}

.content{
    min-height:10em;
    background: orangered;
    box-shadow: 0px 2px 2px grey;
    color:ghostwhite;
}

.typed{
    color: black;
    font-size: 1.2em;
    color:orangered;
}
.content p, h5{
    background: orangered;
}

.row h5{
    background: ghostwhite;
    text-align: center;
}
.contact-btn{
    width:100%;
    background: orangered;
    box-shadow: 0px 2px 2px grey;
    border-radius: 10px;
    color:black;
}
.contact-btn:hover{
    background: black;
    color:orangered;
}
.contact-form .fa{
    color:orangered;
    font-weight: bold;
}

.form-control{
    border-radius: 10px;
    box-shadow: 0px 2px 2px grey;
}
.test-image{
    width:250px;
    height:250px;
    border: 4px solid orangered;
    border-radius: 50%;
    box-shadow: 0px 2px 2px grey;
}
.test-name{
  
    border-bottom: 1px solid orangered;
    width: 180px;
    margin: auto;
}

.img-card-top{
    height:350px;
}
.card{
    box-shadow: 0px 2px 2px grey;
    background: ghostwhite;
}
.blog-post{
    background: ghostwhite;
}
.card-title{
    background: ghostwhite;
}
.read{
    color: orangered;
    text-decoration: none;
    font-weight: bold;
}

.choose h5{
    background: ghostwhite;
    text-align: center;
}

.payment-card .fa{
     letter-spacing: 1em;
     font-weight: bold;
     font-size:1.5em;

}

.fa-dollar{
    font-weight: bold;
    font-size:1.5em !important;
    color:#85bb65;
}
.star .fa{
    color: orangered;
    font-weight:bold;
    font-size:1.5em;
    letter-spacing: 10px;
}
.fa-cc-paypal{
    color: #3b7bbf !important;
}
.fa-cc-mastercard{
      color: #ff5f00
}
.fa-cc-visa{
    color: #192061;
}
.fa-cc-stripe{
    color: #00afe1;
}
.fa-btc{
    color: #ff9900 !important;
}
.fa-naira{
    color: green;
}
.choose{
    box-shadow: 0px 2px 2px grey;
    padding:10px;
}

.footer{
    background: black;
    padding:10px;
}
@media screen and (max-width:570px){
    .test-image{
        width:250px;
        height:250px;
        border-bottom: 4px solid orangered;
        border-radius: 50%;
        box-shadow: 0px 2px 2px grey;
        margin-top:2em;
    }
}